<div class="container border rounded pt-3 pb-1 mb-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Projects</h2>
        <i class="bi bi-plus-circle fs-5"></i>
    </div>
    <div class="d-flex justify-content-between m-3">
        <div class="d-flex align-items-start">
            <div class="ms-3">
                <a href="" class="text-decoration-none"><h3>Project Name</h3></a>
                <p class="mb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, quia? Veniam dolorem, nesciunt assumenda, optio excepturi aperiam suscipit voluptates quo libero, illo molestiae porro repellat modi necessitatibus harum. Tempora, ipsam.</p>
            </div>
        </div>
        <div class="d-flex">
            <i class="bi bi-pencil-square ms-3"></i>
            <i class="bi bi-trash3 ms-3"></i>
        </div>
    </div>
    <div class="d-flex justify-content-between m-3">
        <div class="d-flex align-items-start">
            <div class="ms-3">
                <a href="" class="text-decoration-none"><h3>Project Name</h3></a>
                <p class="mb-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, quia? Veniam dolorem, nesciunt assumenda, optio excepturi aperiam suscipit voluptates quo libero, illo molestiae porro repellat modi necessitatibus harum. Tempora, ipsam.</p>
            </div>
        </div>
        <div class="d-flex">
            <i class="bi bi-pencil-square ms-3"></i>
            <i class="bi bi-trash3 ms-3"></i>
        </div>
    </div>
</div>

