<div class="bg-dark">
    <nav class="container d-flex justify-content-between align-items-center pt-3 pb-3 mb-3">
        <a routerLink="/home" class="text-white text-decoration-none">Portfolio</a>
        <div style="width: 100px;">
            <img src="../../../assets/img/logoImages/APLogo-20-20.png" class="img-fluid" alt="Logo de Argentina Programa">
        </div>
        <div class="d-flex justify-content-evenly align-items-center">
            <a href="https://www.linkedin.com/in/agustinboccio/" target="_blank" rel="noopener" class="nav-link"><i class="bi bi-linkedin ms-2 text-white-50 fs-2"></i></a>
            <a href="https://www.github.com/bocod/" target="_blank" rel="noopener" class="nav-link"><i class="bi bi-github ms-2 text-white-50 fs-2"></i></a>
            <button *ngIf="!userLogged" type="button" [routerLink]="['/login']" class="btn btn-outline-success ms-2">Login</button>
            <button *ngIf="userLogged" type="submit" class="btn btn-outline-danger ms-2" (click)="logout($event)">Logout</button>
        </div>
    </nav>
</div>
<div *ngIf="isUser" class="container">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> 
        You are logged as user so you can edit content. But you cannot access <a routerLink="/admin" class="alert-link">this view</a>.
        Feel free of closing this alert...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
</div>
<div *ngIf="isAdmin" class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> 
        You are logged as admin so you can edit content and access <a routerLink="/admin" class="alert-link">this view</a>.
        Feel free of closing this alert...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
</div>