<app-nav-bar></app-nav-bar>
<form [formGroup]="loginForm" class="container col-lg-4" (ngSubmit)="onSubmit($event)">

    <div class="form-floating mb-3">
        <input type="username" formControlName="username" 
        [ngClass]="{'is-invalid': Username?.errors && Username?.touched, 'is-valid': !Username?.errors && Username?.touched}"
        class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Username <sup>*</sup></label>
    </div>

    <div *ngIf="Username?.errors && Username?.touched">
        <p *ngIf="Username?.hasError('required')" class="text-danger"><sup>*</sup> Username required</p>
    </div>
    <div *ngIf="Username?.errors && Username?.touched">
        <p *ngIf="Username?.hasError('pattern') || Username?.hasError('minlength')" class="text-danger">Username must be a valid username</p>
    </div>
    
    <div class="form-floating mb-3">
        <input type="password" formControlName="password" class="form-control" 
        [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
        id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password <sup>*</sup></label>
    </div>


    <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger"><sup>*</sup> Password required</p>
    </div>
    <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('minlength')" class="text-danger"><sup>*</sup> Password must have more than 8 characters</p>
    </div>

    <div class="text-center mb-3">
        <button class="btn btn-primary w-50" type="submit">Login</button>
    </div>

</form>