<section class="container border rounded pt-3 pb-1 mb-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Skills</h2>
        <i class="bi bi-plus-circle fs-5"></i>
    </div>
    <div class="m-auto mb-3 row justify-content-center justify-content-md-start">
        <div class="shadow p-3 m-1" style="width: 220px;" *ngFor="let skill of mySkills">
            <div class="d-flex justify-content-between mb-0">
                <h4 class="text-black-50">{{skill.skill}}</h4>
                <!-- <div *ngIf="userLogged"> -->
                <div>
                <i class="bi bi-pencil-square ms-3"></i>
                    <i class="bi bi-trash3 ms-3"></i>
                </div>
            </div>
            <div class="text-black-50 text-center">
                <label for="customRange" class="form-label">
                    {{skill.levelName}} Level
                </label>
            </div>
            <div class="progress ms-3 me-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="customRange" role="progressbar" [style]="'width: '+skill.level+'%'" attr.aria-valuenow="{{skill.level}}" aria-valuemin="0" aria-valuemax="4"></div>
            </div>
        </div>
    </div>
</section>