    <section *ngIf="myExperience">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Experience</h2>
            <a role="button"><i class="bi bi-plus-circle fs-5"></i></a>
        </div>
        <article class="d-flex justify-content-between m-3" *ngFor="let experience of myExperience.reverse()">
            <div class="d-flex align-items-start">
                <div id="logo">
                    <img class="img-fluid" [src]="experience.logoURL" alt="Company logo"/>
                </div>
                <div class="ms-3">
                    <h4 class="mb-0">{{experience.role}}</h4>
                    <p class="mb-0">{{experience.company}} - {{experience.contract}}</p>
                    <p class="mb-0 text-secondary">
                        {{experience.start}} 
                        - 
                        {{experience.end != null ? experience.end : (experience.currentJob  ? "Current Job" : "")}} 
                        · 
                        {{calcElapsed(experience.end, experience.start)}}</p>
                    <p class="mb-1 text-secondary">{{experience.location}}, Country</p>
                    <p class="mb-1">{{experience.description}}</p>
                </div>
            </div>
            <div>
                <i class="bi bi-pencil-square ms-3"></i>
                <i class="bi bi-trash3 ms-3"></i>
            </div>
        </article>
    </section>